<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
  </head>
  <body
    style="
      background-color: #2d7be3;
      
      height: 97vh;
      display: flex;
      align-items: center;
      justify-content: center;
    "
  >
    <div style="display: flex;
    width: 60%;
    height: 30%;
    background-color: white;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;"
    >
    <% if(locals.error){ %>
        <div style="font-size: 20px;
        font-family: sans-serif;
        font-weight: bold;
        color: red;">Incorrect password !</div>
        <% } %>
      <form method="post" style="display: flex;
      flex-direction: column; gap: 10px; width: 50%;">
        <label for="password" style="font-size: 20px; font-weight: bold;
         font-family: sans-serif;">Password:</label>
        <input type="password" id="password" style=" height: 20px;
        border: none;
        border-bottom: 2px solid #2D7BE3;
        outline: none; " name="password" required />
        <button type="submit" style=" background: #2D7BE3;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        outline: none;
        border-radius: 30px;
        font-weight: bold;
        margin-top: 10px;
        font-size: 15px;">Download</button>
      </form>

    </div>
  </body>
</html>
